/* nav {
    background-color: lightblue;
    text-align: center;
    color: white;
    height: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}


nav a {
    color: black;
    padding: 2rem;
} */